.login__link {
    text-decoration: none;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    transition: all .4s ease-in-out;
}

.login__link:hover {
    opacity: 0.5;
    cursor: pointer;
}